@media only screen and (max-width:420px){
    thead tr,tbody tr{
        display: block;
        margin-bottom: 1.5em;
    }
    thead th,
    tbody td{
        display: list-item;
        border: none;
    }
}
