/*--------------------------------------
 FORM formmail Contents
---------------------------------------*/

#FORM { font-size:100%; width:98%; }
#FORM form h4 { background:#fff url('/images/library/Image/buttons/bullet_01.png') no-repeat 3px; color:#23234f; font-weight:bold; padding:0 8px 0 24px; margin:10px 0px 0px 0px; height:19px; line-height:19px; }
#FORM p.honbun { margin-bottom:6px; text-align:left; }
#form_step ul { margin:0; padding:0; }
#form_step ul:after { content:""; display:block; clear:both; height:1px; overflow:hidden; }
#form_step li { float:left; width:120px; height:33px; line-height:33px; display:block; background: url('/images/library/Image/buttons/form_status.png') no-repeat; font-weight:bold; color:#666666; margin-left:0px; padding-left:10px; text-align:left; }
#form_step li.on{ background: url('/images/library/Image/buttons/form_status_on.png') no-repeat; color:#23234f; }

.error{ padding:2px 3px 3px 3px; font-size:109%; color: #FF0000; line-height:130%; font-weight:bold; word-break:normal; }
.errorList{ background-color: #FFFFFF; padding: 2px 3px 3px 3px; font-size: 100%; line-height: 120%; color: #FF0000; padding-left: 25px; margin-bottom: 5px; word-break:normal; }
.error2{ background-color:#FFEFEF; border:1px #FF0000 solid; padding:1px 4px 1px 4px; font-size:12px; line-height:130%; margin:3px; word-break:normal; }
.spf_required{ font-size:9px; color:#CC0000; }
.form_free{ font-size:9px; color:#00CC44; }

#FORM table.formmail { border-top: 1px solid #aaa; border-collapse: collapse; width:100%; margin:4px 0; }
#FORM table.formmail th { border-bottom: 1px solid #aaa; background-color: #eeeeee; text-align: left; padding:10px; font-weight:bold; font-size:small; word-break:normal; }
#FORM table.formmail td { border-bottom: 1px solid #aaa; background-color: #f8f8f8; padding:10px; font-size:small; word-break:normal; }
#FORM table.formmail td.warning_bgc { background: #FFEEEE; }

.idea{ width:98%; background-color:#E6FFE9; border:2px #008000 solid; padding:5px; font-size:11px; line-height:140%; margin-top:12px; }
.bginput { background-color: #FFFEEa; }
.ime_on { ime-mode: active; }
.ime_off { ime-mode: inactive; }
.button1 { background-color: #05959C; color: #fff; font-weight: bold; }
.mb20 { margin-bottom:20px; }
.mt20 { margin-top:20px; }

/* Tooltip Balloon */
#tooltip-container { border:1px solid #83B3D8; -moz-box-shadow:#47708F 0 2px 6px;-webkit-box-shadow:#47708F 0 2px 6px; background:#fff; position:absolute; left:0; top:0; display:none; z-index: 20000; }
#tooltip-content { background-color: #FFF; min-width: 175px; min-height: 50px; }
.tooltip-block { border-bottom:1px solid #83B3D8; width: 100%; }
.tooltip-title { font-weight: bold; background: #E7E7E7; margin: 0; padding: 2px; }
.tooltip-doc { min-height: 1em; padding: 4px 2px; }
#tooltip-close { display: none; }
